@import '../../../_setting.scss';
.doctorProfile {
    display: flex;
    .doctorProfile-container {
        margin: 0 80px;
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        margin-bottom: 40px;
        width: 100%;
        .doctorProfile-info {
            width: 100%;
        .item-wrap {
            display: flex;
            justify-content: space-between;
            .doctor-wrap {
                display: flex;
                 gap: 16px;
                 .avartar-img{
                    cursor: pointer;
                    text-decoration: none;
                    .img {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        cursor: pointer;
                        object-fit: cover;
                        object-position: center center;
                    }
                 }
                 .doctor-name {
                    a {
                        cursor: pointer;
                        text-decoration: none;
                        p {
                            font-size: 18px;
                            letter-spacing: -.2px;
                            line-height: 32px;
                            font-weight: 600;
                            color: #262626;
                        }
                        .specialtly-text {
                            font-size: 14px;
                            letter-spacing: -.2px;
                            line-height: 22px;
                        }
                    }
                    .booking-doctor {
                        margin-top: 8px;
                        display: flex;
                        gap: 4px;
                        flex-wrap: wrap;
                        .book-wrap {
                            cursor: pointer;
                            text-decoration: none;
                            .book-text {
                                background: rgb(227, 242, 255);
                                border: 1px solid rgb(45, 135, 243);
                                display: inline-block;
                                height: fit-content;
                                border-radius: 24px;
                                padding: 2px 8px;
                                p {
                                    font-size: 14px;
                                    letter-spacing: -.2px;
                                    line-height: 22px;
                                    color: rgb(45, 135, 243);
                                }
                            }
                        }
                    }
                    .cost-doctor {
                        display: flex;
                        align-items: center;
                        .cost-wrap {
                            cursor: pointer;
                            text-decoration: none;
                            .icon {
                                display: flex;
                                -webkit-box-align: center;
                                align-items: center;
                                margin-top: 8px;
                                gap: 8px;
                                .text {
                                    font-size: 14px;
                                    letter-spacing: -.2px;
                                    line-height: 22px;
                                }
                                .cost-num {
                                    font-size: 14px;
                                    letter-spacing: -.2px;
                                    line-height: 22px;
                                    color:#009E5C;
                                }
                            }
                        }
                    }

                 }
            }
        }
        }
    }
   
}
.Categories-line-content {
    // width: 100%;
    border-right: none;
    padding: 8px;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 2px dashed rgb(228, 232, 236);
    // margin: 12px 140px;
}


