.content-top-container {
    position: relative;
    overflow: visible;
    // width: 100%;
    // padding-bottom: 200px;
    margin: 0;
    margin: 0px 125px;
    background-color: rgb(255, 255, 255);
    // border: 1px solid red;
    // height: 71px;
    .content-title {
        // width: 100%;
        // border: 1px solid red;
        margin: 0px auto;
        .detail {
            gap: 18px;
            padding: 16px;
            display: flex;
            flex-direction: row;
            .trending {
                height: 28px;
                align-items: center;
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                padding: 7px 20px;
                border-radius: 40px;
                cursor: pointer;
                background: rgb(227, 242, 255);
                gap: 6px;
                .trending-img {
                    width: 24px;
                    height: 24px;
                }
            }
            .latest {
                align-items: center;
                display: flex;
                height: 28px;
                -webkit-box-pack: center;
                justify-content: center;
                padding: 7px 20px;
                border-radius: 40px;
                cursor: pointer;
                border: 1px solid rgb(228, 232, 236);
            }
        }
    }
    .post-top-child {
        // border: 1px solid red;
        height: 100%;
        background-color: rgb(255, 255, 255);
        margin: 0px auto;
        box-sizing: border-box;
        .post-top-wrap {
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap; 
            align-items: flex-start;
            -webkit-box-pack: start;
            justify-content: flex-start;
            padding: 0px 16px;
            background-color: rgb(255, 255, 255);
            .post-top-left {
                box-sizing: border-box;
                display: flex;
                width: 58%;
                place-self: stretch;
                justify-content: stretch;
                background-color: rgb(255, 255, 255);
                .left-content {
                    background-color: rgb(255, 255, 255);
                    padding: 24px 16px 0px 0px;
                    box-sizing: border-box;

                }
            }
            .post-top-right {
                box-sizing: border-box;
                // border: 1px solidd red;
                // background-color: #2d87f3;
                display: flex;
                width: 39%;
                height: 100%;
                flex-direction: column;
                -webkit-box-align: stretch;
                align-items: stretch;
                align-self: stretch;
                -webkit-box-pack: center;
                justify-content: center;
                padding-top: 24px;
                // background-color: rgb(255, 255, 255);
                .post-top-bottom {
                    width: 100%;
                    display: flex;
                    flex: 1 1 0%;
                    padding: 16px 0px 0px 0px;
                    background-color: rgb(255, 255, 255);
                    // background-color: #2d87f3;
                }
            }

            .post-top-space {
                width: 100%;
                border-right: none;
                border-bottom: none;
                border-left: none;
                border-image: initial;
                border-top: 2px dashed rgb(228, 232, 236);

                }

            .post-top-end {
                display: flex;
                flex: 1 1 0%;
                -webkit-box-align: stretch;
                align-items: stretch;
                place-self: stretch;
                -webkit-box-pack: center;
                justify-content: space-between;
                margin-top: 24px;
                gap: 24px;
                // border: 1px solid green;
                padding-right: 40px;
                }
            }
        }
}
.left-article {
    box-sizing: border-box;
    // border: 1px solid red;
    flex-direction: column;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    padding: 16px 16px 16px 0;
    width: 100%;
    .content {
        display: flex;
        flex-direction: column;
        // width: 100%;
        // border: 1px solid red;
        .inner-content {
            display: flex;
            flex-direction: column;
            // border: 1px solid red;
            // height: 168px;
            .inner-content-title {
                // border: 1px solid red;
                margin: 0;
                padding-top: 10px;
                color: #2d87f3;
                opacity: 0.65;
                align-items: center;
                display: flex;
                flex-direction: row;
                // margin-top: 16px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
                // line-height: 22px;
                letter-spacing: 0;
                // border: 1px solid blue;
                width: 100%;
                // padding: 0px 39px 0px 0px;
                .title-href {
                    
                    color: inherit;
                    display: inline-block;
                    height: 100%;
                    text-decoration: none;
                    width: 100%;
                    margin: 0;
                }
            }
            .inner-intro {
                // border: 1px solid red;
                margin: 0;
                top: 0;
                font-size: 22px;
                // line-height: 32px;
                letter-spacing: -.6px;
                color: var(--custom-heading-color,#262626);
                font-weight: 700;
                .intro-title {
                    // border: 1px solid red;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                    overflow: hidden;
                    margin-top: 2px;
                    color: inherit;
                    display: inline-block;
                    height: 100%;
                    text-decoration: none;
                    width: 100%;

                }
            }
            .intro-text {
                margin-top: -10px;
            }
        }
        .footer {
            display: flex;
            .footer-wrap {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                // margin-top: 8px;
                width: 100%;
                .author {
                    // width: calc(100% - 20px);
                    align-items: center;
                    display: flex;
                    .poster{
                        align-items: center;
                        display: flex;
                        white-space: pre-wrap;
                        .poster-p {
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                            display: -webkit-box;
                            font-weight: 400;
                            overflow: hidden;
                            font-size: 16px;
                            letter-spacing: 0;
                            line-height: 24px;
                            .poster-a {
                                color: #262626;
                                text-decoration: none;
                                .name {
                                    font-weight: 400;
                                    padding-right: 5px;
                                }
                                .author-name {
                                    padding-left: 5px;
                                    color: rgb(38, 38, 38);
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}
.banner {
    height: 468px;
    margin: 0;
    width: 100%;
    background-color: rgb(242, 242, 242);
    border-radius: 6px;
    position: relative;
    // border: 1px solid red;
    .banner-href {
        color: inherit;
        display: inline-block;
        // height: 100%;
        text-decoration: none;
        // width: 100%;
        .banner-span {
            box-sizing: border-box;
            display: block;
            overflow: hidden;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border-radius: 6px;
            margin: 0px;
            padding: 0px;
            // border: 1px solid red;
            position: absolute;
            inset: 0px;
            .banner-img {
                    position: absolute;
                    inset: 0px;
                    box-sizing: border-box;
                    padding: 0px;
                    // height: 100%;
                    border: none;
                    margin: auto;
                    display: block;
                    object-fit: cover;
                    height: 468px;
                    // width: 100%;
                         
            }
        }
    }
}
.space {
    margin: 24px 0px 0px;
    padding: 0px;
}
.text-decor {
    text-decoration: none;
}
.text-top {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}