.infor-container {
    width: calc(50% - 8px);
    border-radius: 6px;
    
    border: 1px solid rgb(228, 232, 236);
    .infor-wrapper {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 16px;
        p {
            margin: 0;
        }
        .infor-title {
            padding-bottom: 16px;
            color: rgb(38, 38, 38);
            font-size: 14px;
            font-weight: 600;
            // margin: 0;
            margin-top: 5px;
        }
        .infor-content-detail {
            display: flex;
            gap: 5px;
            -webkit-box-align: baseline;
            align-items: baseline;
            .detail-result {
                font-size: 20px;
                font-weight: 700;
                color: rgb(89, 89, 89);

            }
            .detail-unit {
                font-size: 12px;
                font-weight: normal;
                color: rgb(89, 89, 89);
            }
        }
        .update-time {
            font-size: 12px;
            font-weight: normal;
            color: rgb(89, 89, 89);
        }
        .see-detail {
            display: flex;
            flex-direction: column;
            -webkit-box-pack: justify;
            justify-content: space-between;
            .detail-wrapper {
                display: flex;
                // flex-direction: column;
                cursor: pointer;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: end;
                justify-content: flex-end;
                gap: 4px;
                .detail-text {
                    font-size: 12px;
                    font-weight: normal;
                    color: rgb(89, 89, 89);
                }
                .icon-wrapper {
                    display: flex;
                }
                
            }
            img {
                display: inline-block;
                object-fit: contain;
                width: 56px;
                margin-top: 10px;
            }
        }
    }
}