.heart-page-info {
    padding-left: 0px;
    box-sizing: border-box;
    .heart-page-container {
        padding-bottom: calc(44px - 1rem);
        border-bottom: 8px solid rgb(247, 249, 252);
        width: 669px;
        margin: 0px auto;
        .heart-page-title {
            display: flex;
            flex-wrap: wrap;
            -webkit-box-align: center;
            align-items: center;
            margin-bottom: 16px;
            color: rgb(140, 140, 140);
            font-size: 14px;
            line-height: 22px;
            svg {
                margin-right: 10px;
            }
        }
        .info-list {
            padding-left: 10px;
            .info-list-content {
                display: block;
                // margin-bottom: 1rem;
                .content-title {
                    margin: 0;
                    position: relative;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: justify;
                    justify-content: space-between;
                    cursor: pointer;
                    .title-img {
                        position: absolute;
                        right: 0px;
                        left: unset;
                        display: flex;
                    }
                    .title-text {
                        flex: 1 1 0%;
                        padding-right: 16px;
                        .text-detail1 {
                            font-size: 16px;
                            // letter-spacing: -.2px;
                            line-height: 24px;
                            color: var(--custom-color,#262626);
                            font-weight: 400;
                            letter-spacing: 0;
                        }
                        .text-detail2 {
                            font-weight: 700;
                            letter-spacing: 0;
                            font-size: 16px;
                            line-height: 24px;
                            color: var(--custom-color,#262626);
                        }
                    }
                }
                .set-height{
                    // margin-bottom: 1rem;
                    // height: 160px !important;
                    max-height:  230px !important;
                }
                .list-content-text {
                    overflow: hidden;
                    max-height: 0px;
                    // height: 0;
                    transition: max-height 0.4s ease 0s;
                    margin-top: 8px;
                    overflow-wrap: anywhere;
                    
                    .text-imfor {
                        padding: 12px;
                        background: rgb(248, 249, 252);
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}