:root{
    --primary: #2d87f3;
    --gray-800: #262626;
    --gray-700: #404040;
    --gray-600: #595959;
    --gray-500: #737373;
    --gray-300: #bfbfbf;
    --gray-200: #d9d9d9;
    --gray-100: #f2f2f2;
    --gray-50: #fafafa;
    --neutral-200: #d2d6dc;
    --green-50: #e0f8ee;
    --green-600: #00b16a;
    --blue-50: #e3f2ff;
    --red-50: #fae9e8;
    --red-600: #f44d2c;
    --red-700: #e64728;
    --background-overlay: rgba(38, 38, 38, 0.3);
    --main-font: "open sans", sans-serif;
    --khmer-font: "Battambang", cursive;
    --content-spacing: 0 1rem;
    --content-width: 100vw;
    --main-shadow: none;
    --font-bold: 700;
    --illustrative-graphic-display: none;
    --small-spacing: 0.5rem;
    --large-spacing: 4rem;
    --border-radius: 0.375rem;
    --slider-content-height: calc(100vh - 13.5rem);
    --above-header: 2rem;
    --below-header: 3.25rem;
}
.h3 {
    color: var(--gray-800);
    font-size: 1.5rem;
    font-weight: var(--font-bold);
    margin-bottom: var(--small-spacing);
}

.login-container {
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    background-color: #f7f9fc ;
    // top: 0;
    // z-index: 99;
    // padding: 10px 20px;
    // height: 100vh;
    width: 100%;
    justify-content: center;
    // align-items: center;
    box-sizing: border-box;
    .header_login {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        width: 100%;
        padding: 40px 30px;
        margin-bottom: 10px;
        .logo-login {
            width: 107px;
            height: 24px;
        }
    }
    .section-login {
        // border: 1px solid green;
        display: block;
        width: 568px;
        // height: 800px;
        background-color: #fff;
        box-sizing: border-box;
        box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.04), 0px 2px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
        padding: 37px;
        border-radius: 0.375rem;
        margin-top: 20px;
        // top: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;
        margin: 0 auto;
        .login-box, .intro {
            width: 100%;
            font-size: 18px;
            text-align: center;
            margin-right: auto;
            margin-bottom: 24px;
            margin-left: auto;
            .input_email:focus {
                border-color: #2d87f3;
                box-shadow: #91caff 0 0 2px 2px;
                color: var(--gray-800);
            }
            .as-social-button {
                display: flex;
                box-sizing: border-box;
                flex-direction: row;
                box-sizing: border-box;
                border: 1px solid #d2d6dc;
                text-decoration: none;
                color: #2d87f3;
                height: 48px;
                align-items: center;
                padding: 1px 6px;
                margin-top: 10px;
                border-radius: 6px;
                background-color: #FFFFFF;
                justify-content: space-around;
                .icons_login {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .logo-login {
                        width: 25px;
                        height:25px;
                    }
                }
                .social-button {
                    background-color: transparent;
                    color: #262626;
                    border: 0px solid #d2d6dc;
                    width: 80%;
                    height: 100%;
                    position: relative;
                    font-size: 16px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            .input_email {
                width: 100%;
                box-sizing: border-box;
                display: flex;
                padding: 0.75rem 1rem;
                border-radius: var(--border-radius);
                color: var(--gray-500);
                border: 1px solid var(--gray-200);
                margin-bottom: 1rem;
                font-size: 1rem;
                outline: none;
                -webkit-appearance: none;
                font-family: inherit;
            }
            .limit-text {
                display: flex;
                flex-direction: column;
                position: relative;
                height: 234px;
                width: 100%;
                // border: 1px solid red;
                .text-wrap {
                    display: flex;
                    position: absolute;
                    width: 100%;
                    text-align: left ;
                    overflow: hidden;
                    transition: .25s linear all;
                    .text-inner {
                        width: 100%;
                        font-family: "open sans", sans-serif;
                        font-size: 12px;
                        color: #3e3f58;
                        line-height: 1.5;
                        // position: absolute;
                    }
                }
            }
            .limit-text-button{
                // border: 1px solid red;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                font-size: 12px;
                font-weight: 600;
                color: #2d87f3;
                cursor: pointer;
            }
            .primary-button {
                margin-top: 30px;
                background-color: #2d87f3;
                color: #fff;
                border: 0px solid #2d87f3;
                width: 100%;
                height: 48px;
                border-radius: 6px;
                position: relative;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
            }
            .text-skip {
                // display: flex;
                align-items: center;
                justify-content: center;
                color: #737373;
                font-size: 15px;
                padding: 6px;
                .icon-skip {
                    margin-left: 5px;
                }
                
            }
        }
        .intro {
            font-size: 14px;
            color: #595959;
            font-family:  "open sans", sans-serif;;
        }
    }
    .img-left {
        // display: none;
        position: absolute;
        // z-index: -1;
        bottom: 0;
        left: 2.5rem;
    }
    .img-right {
        // display: none;
        position: absolute;
        // z-index: -1;
        bottom: 0;
        right: 2.5rem;
    }
}