.heart-page {
    background: url('https://hellobacsi.com/images/bg-risk-screener.jpg') center center / cover no-repeat;
    padding: 66px 0px;
    margin-bottom: 48px;
    .heart-page-container {
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin: 0px auto;
        width: 770px;
        align-items: center;
        // justify-content: space-between;
        .container-left {
            width: 60%;
            order: 1;
            @keyframes animareview {
                0% {
                    opacity: 0;
                    transform: translate3d(-20%, 0px, 0px);
                }
                100% {
                    opacity: 1;
                    transform: translate3d(0px, 0px, 0px);
                }
            }
            h1 {
                text-align: left;
                font-size: 40px;
                line-height: 52px;
                margin-bottom: 24px;
                animation-duration: 1.2s;
                animation-fill-mode: both;
                animation-name: animareview;
                color: rgb(40, 74, 117);
                font-weight: 700;
    
            }
            .heart-page-review {
                margin-bottom: 24px;
                text-align: left;
                color: rgb(89, 89, 89);
                font-size: 11px;
                font-weight: normal;
                p {
                    display: inline;
                    a {
                        color: rgb(89, 89, 89);
                        text-decoration: underline;
                        transition: all 0.3s ease 0s;
                    }
                }
                
            }
            .heart-page-button {
                text-align: left;
                .next-btn {
                    display: inline-block;
                    background-color: #2d87f3;
                    border: 1px solid #2d87f3;
                    color: #fff;
                    font-size: 16px;
                    line-height: 24px;
                    padding: 12px 24px;
                    border-radius: 6px;
                    cursor: pointer;
                    font-weight: 700;
                    transition: background-color .3s,border-color .3s;
                    width: auto;
                }
            }
        }
        .container-right {
            width: 35%;
            order: 2;
            margin-bottom: 0px;
            @keyframes img-animation {
                0% {
                    opacity: 0;
                    transform: translate3d(0px, 20%, 0px);
                }
                100% {
                    opacity: 1;
                    transform: translate3d(0px, 0px, 0px);
                }
            }
            img {
                display: inline-block;
                width: auto;
                max-width: 100%;
                height: auto;
                animation-delay: 0.8s;
                animation-duration: 1s;
                animation-fill-mode: both;
                animation-name: img-animation;
            }
        }
    }
};
